@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-inter: var(--font-inter);
  --font-mono: var(--font-geist-mono);

  --spacing-lg: 3.5rem;
  --spacing-xl: 4rem;
  --spacing-2xl: 5rem;

  --text-xxl: 4.5rem;
  --text-md: 1.5rem;
  --text-lg: 2rem;
  --text-xl: 3rem;
  --color-neon-red: #F5004F;
  --color-accent-neon-red: var(--accent-neon-red);
  --color-neon-yellow: rgb(249, 228, 0);
  --color-neon-purple: rgb(124, 0, 254);
  --color-neon-orange: #FFAF00;
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --color-input-outline: var(--input-outline);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

body {
  font-family: var(--font-inter);
  /* background: var(--background);
  color: var(--foreground); */
}

:root {
  --radius: 0.625rem;
  --background: rgb(10, 10, 10);
  --foreground: rgb(250, 250, 250);
  --card: rgb(23, 23, 23);
  --card-foreground: rgb(250, 250, 250);
  --popover: rgb(23, 23, 23);
  --popover-foreground: rgb(250, 250, 250);
  --primary: rgb(229, 229, 229);
  --primary-foreground: rgb(23, 23, 23);
  --secondary: rgb(38, 38, 38);
  --secondary-foreground: rgb(250, 250, 250);
  --muted: rgb(38, 38, 38);
  --muted-foreground: rgb(161, 161, 161);
  --accent: rgb(38, 38, 38);
  --accent-foreground: rgb(250, 250, 250);
  --accent-neon-red: #ff588d;
  --destructive: rgb(255, 100, 103);
  --border: rgba(255, 255, 255, 0.1);
  --input: rgba(255, 255, 255, 0.15);
  --ring: rgb(115, 115, 115);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: rgb(23, 23, 23);
  --sidebar-foreground: rgb(250, 250, 250);
  --sidebar-primary: rgb(20, 71, 230);
  --sidebar-primary-foreground: rgb(250, 250, 250);
  --sidebar-accent: rgb(38, 38, 38);
  --sidebar-accent-foreground: rgb(250, 250, 250);
  --sidebar-border: rgba(255, 255, 255, 0.1);
  --sidebar-ring: rgb(115, 115, 115);
  --input-outline: rgb(66, 66, 66);
  --gradient-primary: linear-gradient(to left, var(--color-neon-red), var(--color-neon-orange), var(--color-neon-yellow))
}

.dark {
  --background: rgb(10, 10, 10);
  --foreground: rgb(250, 250, 250);
  --card: rgb(23, 23, 23);
  --card-foreground: rgb(250, 250, 250);
  --popover: rgb(23, 23, 23);
  --popover-foreground: rgb(250, 250, 250);
  --primary: rgb(229, 229, 229);
  --primary-foreground: rgb(23, 23, 23);
  --secondary: rgb(38, 38, 38);
  --secondary-foreground: rgb(250, 250, 250);
  --muted: rgb(38, 38, 38);
  --muted-foreground: rgb(161, 161, 161);
  --accent: rgb(38, 38, 38);
  --accent-foreground: rgb(250, 250, 250);
  --destructive: rgb(255, 100, 103);
  --border: rgba(255, 255, 255, 0.1);
  --input: #ffffff26;
  --ring: #737373;
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: rgb(250, 250, 250);
  --sidebar-primary: rgb(20, 71, 230);
  --sidebar-primary-foreground: rgb(250, 250, 250);
  --sidebar-accent: rgb(38, 38, 38);
  --sidebar-accent-foreground: rgb(250, 250, 250);
  --sidebar-border: rgba(255, 255, 255, 0.1);
  --sidebar-ring: rgb(115, 115, 115);
}


@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-background text-foreground;
  }

  h2 {
    @apply text-5xl
  }

  ul {
    list-style: initial;
    @apply pl-4
  }

  li {
    list-style-type: disc;

  }
}

.company_name__container {

  translate: 0 0;
  animation-name: scroll-effect;
  animation-timing-function: linear;
  animation-duration: 20s;
  animation-iteration-count: infinite;
  /* animation-delay: -20s; */
}

.card::before {
  content: "";
  position: absolute;
  width: 100.6%;
  height: 100.6%;
  background: linear-gradient(145deg, var(--color-neon-red) 10%, transparent 40%);
  z-index: -1;

  left: 50%;
  top: 50%;
  translate: -50% -50%;
  @apply rounded-xl
}

.editor_sidebar__inner {
  scrollbar-gutter: stable;
}

.rsw-toolbar {
  background-color: var(--background) !important;
  border-color: var(--input-outline) !important;

}

.rsw-toolbar .rsw-btn {
  color: white !important;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent !important;
}

.rsw-toolbar .rsw-btn:hover {
  color: var(--color-neon-red) !important;

}

.rsw-ce ul {
  padding: 40px !important;
  list-style-type: initial;
}

.rsw-ce:focus {
  outline: none !important;
}

.rsw-btn[data-active=true] {
  color: var(--color-neon-red) !important;

}



#drop-zone {
  position: relative;
  /* z-index: 100; */
  /* border: 2px solid transparent;

  border-image-slice: 1;
  border-image-source: repeating-conic-gradient(from 0deg,
      red 5deg 12deg,
      transparent 14deg 18deg); */
  /* background:
    url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25'%3E%3Crect x='1' y='1' width='calc(100%25 - 2px)' height='calc(100%25 - 2px)' rx='12' ry='12' fill='none' stroke='%23ffffff26' stroke-width='2' stroke-dasharray='10 8'/%3E%3C/svg%3E"); */

  & #border {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;

    &::before {
      position: absolute;
      content: "";
      width: 100%;
      height: 100%;
      border-radius: inherit;
      padding: 0.2rem;
      z-index: -1;
      background: repeating-linear-gradient(to left, red, blue);
    }
  }
}

@keyframes scroll-effect {

  to {
    translate: calc(-50% - 0.1rem) 0;
  }
}