.step__connector {
    position: relative;

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 0;
        height: 100%;
        background-color: transparent;
        z-index: 10;
        transition: width 0.5s ease-in-out;

    }

    &.fill {
        &::before {
            width: 100%;
            background-color: var(--color-neon-red);
        }
    }
}